/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --brand-color-light: #60A5FA;
    --brand-color-dark: #1D4ED8;

    --bg-color: #0F172A;
    --stroke-color: #1E293B;

    --text-color-primary: #F1F5F1;
    --text-color-secundary: #CBD5E1;

    --font-family: "Archivo", sans-serif;
    --h1: 800 24px/135% var(--font-family);
    --h2: 800 16px/140% var(--font-family);
    --h3: 800 16px/140% var(--font-family);
    --text-span: 600 14px/145% var(--font-family);
    --text: 400 16px/140% var(--font-family);
    --paragraph: 14px/160% var(--font-family);
}

* {
    box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: var(--bg-color);
    font: var(--text);
    color: var(--text-color-primary);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--brand-color-light);
}

h1, h2, h3 {
    font: inherit;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
    max-width: 100%;
}

main {
    margin-top: 40px;
    row-gap: 80px;
    column-gap: 32px;

    grid-template-columns: 2fr 1.5fr;

    grid-template-areas: 
    'featured featured'
    'weekly weekly'
    'ia aside';
}

.content-tag {
    display: inline-block;
    font: 500 10px/1.2 var(--font-family);
    border-radius: 4px;
    padding: 4px 8px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    color: var(--text-color-primary);
    background-color: var(--brand-color-dark);
}