section header {
    border-top: 1px solid var(--stroke-color);
    padding-block: 12px 24px;
    font: var(--text-span);

    a {
        justify-self: end;

        span {
            background-image: url("../assets/icons/arrow.svg");
            display: inline-block;
            background-repeat: no-repeat;
            width: 16px;
            background-position-y: 6px;
            background-position-x: 2px;
            height: 16px;

        }

        &:hover span {
            background-image: url("../assets/icons/arrow-hover.svg");
        }
    }
}

#featured {
    img {
        height: 100%;
        object-fit: cover;
    }

    .card {
        border-radius: 4px;
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            inset: 0;
            background-color: white;
            position: absolute;
            top: 50%;
            background: linear-gradient(180deg, transparent 0%, #020617 100%);
        }

        figcaption {
            position: absolute;
            bottom: 0;

            padding: 24px;

            &:has(.text-sm) {
                padding: 12px;
            }

            h2 {
                margin-top: 8px;
            }

            h3 {
                margin-top: 8px;
            }
        }
    }
}

#weekly {

    &>div {
        grid-template-columns: repeat(4, 292px);
    }

    img {
        height: 160px;
    }

    figure {
        position: relative;

        .content-tag {
            position: absolute;
            top: 8px;
            left: 8px;
        }
    }

    p {
        margin-top: 8px;
        font-weight: 800;
    }
}